:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --grisClaro: #DFE9F3;
}

/*1 gap = 10px*/
/*GLOBALES*/
html {
  font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: mandatory;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: "Krub", sans-serif;
    font-size: 16px;
    background-image: linear-gradient(to top, #DFE9F3 0%, #ffffff 100% );
    /*degrada el color de arriba hacia abajo*/
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    border: none;
  }

  @media (min-width: 768px) {
    .boton {
      width: auto;
    }
  }
  .boton:hover {
    cursor: pointer
  }

  .sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.48);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.48);
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  }

  /*TIPOGRAFÍA*/
h1{
  font-size: 38px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 18px;
}

h1, h2, h3{
  text-align: center;
}
/*TÍTULOS*/
.titulo span {
font-size: 20px;
}

/* UTILIDADES*/ 
 .w-sm-100{
  width: auto;
 }
@media (min-width: 768px){
  .w-sm-100 {
    width: auto;
  }
} 

.alinear-derecha {
  justify-content: flex-end;
}
.flex {
  display: flex;
}

/*NAVEGACIÓN PPAL.*/
.nav-bg {
  background-color: var(--secundario);
}

.navegacion-ppal {
  display: flex;
  flex-direction: column;
 
}

@media (min-width: 768px) {
  .navegacion-ppal{
   flex-direction: row;
   justify-content: space-between;
       
   }

}

.navegacion-ppal a {
  text-decoration: none;
  color: var(--blanco);
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  display: block;
  text-align: center;
}

.navegacion-ppal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

.hero{
  background-image: url(../img/hero.jpg);
  background-size: cover;
  height: 450px;
  position: relative; /*Al padre se le debe aplicar relative para que se pueda mover el hijo*/
  margin-bottom: 20px;
}

/*SCROLL SNAP*/
  .servicios,
  .navegacion-ppal,
  .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-snap-type: mandatory;
  }

  .contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, .8); /*color negro rgb y la a corresponde a transparencia*/
    width: 100%;
    height: 100%;
    /*Esto permite centrar verticalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contenido-hero h2,
.contenido-hero p{
    color: #ffffff;
}

/*SERVICIOS*/
@media (min-width: 768px) {
  .servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
  }

  .servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .servicio p{
    line-height: 2;
  }

  .servicio h3{
    color: var(--secundario);
    font-weight: 400;
  }

  .servicio .iconos{
    height: 150px;
    width: 150px;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /*centra verticalmente*/
    font-size: 40px;
  }

  .ubicacion{
    color: var(--primario);
    font-size: 40px;
    
    
  }

  .apple{
    padding-bottom: 10px;
  }


/*FORMULARIO*/
.formulario{
  background-color: var(--gris);
  width: min(600px, 100%); /*toma el valor más pequeño*/
  margin: 0 auto; /*se usa cuando el padre no es un display flex*/
  padding: 20px;
  border-radius: 10px;
}

.formulario fieldset{
  border: none;
}
  
.formulario legend{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primario);
}

@media (min-width: 768px){
  .contenedor-campos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 200px;
    column-gap: 10px;
    
  }
  }

.campo:nth-child(3),
.campo:nth-child(4){
grid-column: 1 / 3;
}
  
.campo{
  margin-bottom: 10px;
}

.campo label{
  color: var(--blanco);
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.campo textarea{
  height: 200px;
}

.input-text{
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

/*FOOTER*/
footer{
  text-align: center;
}

